
/* --------- Home page ----------- */

.big-title {
  text-align: center;
}

.home-buttons {
  margin-top: 65vh;
  display: flex;
  justify-content: center;
 
}

.home-generate-a-list-button, .home-go-to-archives-button {
  width: 86px;
  height: 34px;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  background-color: rgba(69, 78, 49, .6);
  /* outline: 2px solid black; */
  box-shadow: 0 0 3px rgb(19, 20, 17);

}



/* .home-go-to-archives-button {
  width: 80px;
  height: 40px;
  padding: 30px
} */
          /* button:focus, button:active, button:hover {
            outline: none;
          } */


/* ----- input buttons for adding a song ----- */

.song-input, .abbrev-input, .length-input {
/* text-align: center; */
}