/* --------------------------------------- */
/* ------------- Home page --------------- */
/* --------------------------------------- */

.homepage {
  min-height: 100vh;
  background: linear-gradient(
rgb(236, 213, 144),
rgb(177, 172, 161)
);
  margin: 0;
  padding: 0;
}

.typewriter {
  /* Below line fixes the image 
  so the links can sit on top of it */
  /* /* position: relative; */
  position:fixed;
  bottom:0;
  right:0;
  padding-top: -20px;
  opacity: 0.8;
}


.typewriter img {
  width: 90vw;
  margin-left: 10px;
  z-index: 1;
}

/* -------Typewritter title animation below----------- */
/* ------------inspired by a codepen from------------- */
/* ----------------Thiago Teles Pereira--------------- */


html {
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}

body {
  /* height: calc(100vh - 8em); */
}

.line-1 {
    padding-top: 20vh;
    font-family: 'Special Elite', cursive;
    width: 24em;
    padding-top: 20vh;
    margin: 0 auto;
    /* border-right: 2px solid rgba(255,255,255,.75); */
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  /* Takes 3 seconds (4s) to "type" */
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}

/* Why do i need this line? */
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* ---------------------------------------- */
/* ----------- Home page links  ----------- */
/* ---------------------------------------- */


.home-links {
  /* Below line places the links on top 
  of the typewriter */
  position: absolute;
  top: 67vh;
  padding-left: 6vw;
  z-index: 2;
}

.home-generate-a-list-button, .home-go-to-archives-button, .home-go-songs-masterlist-button {
  font-family: 'Special Elite', cursive;
  color: rgb(71, 71, 71);
  font-size: 20px;
  padding: 20px 10px 10px 60px;
  margin-left: 50vw;
}

/* ---------------------------------------- */
/* ----------- Segno Homebutton ----------- */
/* ---------------------------------------- */


.segno-image {
  width: 2.5vw;
  padding: 2.5vw;
  opacity: 0.7;
}

/* --------------------------------------- */
/* ----------- Master Songlist ----------- */
/* --------------------------------------- */


.masterlist-and-add-a-song {
  height: 100vh;
  background: rgb(153, 170, 170);
  margin: 0;
  padding: 0;
}

.master-songlist {
  font-family: 'Special Elite', cursive;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
}

.master-songlist-subtitle {
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
}

.all-songs-map {
  font-size: 16px;
  margin-top: 2vh;
  /*  next two lines make the wee scrollable box */
  height: 670px;
  overflow: scroll;
}

.all-songs-one-box {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 0fr 1fr 1fr .25fr;
  background-color: rgba(242, 243, 242, 0.658);
  width: 550px;
  height: 50px;
  margin: 10px auto;
  border-radius: 5px;
}

.song-text, .song-length, .abbrev-text {
  margin: auto 0; 
}

.song-text {
  padding-left: 8px;
}

.abbrev-text {
  font-weight: bold;
}


/* ------------------------------------------------- */
/* ----- Buttons for editing/deleting one song ----- */
/* ------------------------------------------------- */

.song-delete-button {
  font-size: 10px;
  background-color: rgba(209, 142, 122, 0.3);
  height: 28px;
  width: 46px;
  margin: 8px 0;
  border: 2px solid rgba(209, 142, 122, 0.3);
  border-radius: 4px;
}

.song-edit-button {
  font-size: 10px;
  background-color: rgba(215, 218, 134, 0.5);
  height: 28px;
  width: 42px;
  margin: 8px 0;
  border: 2px solid rgba(168, 170, 104, 0.5);
  border-radius: 4px;
}

.edit-song-form {
  text-align: center;
}

/* below line corrected the 
edit form to be inline */

.edit-form {
  display: flex;
  flex-direction: row;
}

.edit-song-input {
  background-color: rgba(209, 142, 122, 0.3);
  padding: 6px;
  margin: 8px;
  border-radius: 4px;
}

.edit-abbrev-input {
  background-color: rgba(209, 142, 122, 0.3);
  padding: 6px;
  margin: 8px;
  border-radius: 4px;
}

.edit-length-input {
  background-color: rgba(209, 142, 122, 0.3);
  padding: 6px;
  margin: 8px;
  border-radius: 4px;
}

.edit-save-song-button {
  background-color: rgba(209, 142, 122, 0.3);
  padding: 6px 20px;
  margin: 8px 0;
  border: 2ps solid grey;
  border-radius: 4px;
}

/* -------------------------------- */
/* -------- Add a song form-------- */
/* -------------------------------- */


/* .add-song-form {
  margin-bottom: 400px;
} */

/* --------------------------------------------- */
/* ----- Input & buttons for adding a song ----- */
/* --------------------------------------------- */

.add-song-header {
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-align: center;
  margin-top: 5vh;
} 

.new-song-inputs {
  display: flex;
  justify-content: center;
}

.song-input, .abbrev-input, .length-input {
  font-family: 'Special Elite', cursive;
  background-color: rgba(242, 243, 242, 0.658);
  padding: 6px;
  margin: 8px;
  border-radius: 4px;
} 

.song-input {
  width: 430px;
}

.abbrev-input {
  width: 150px;
  margin-left: 3vw;
}

.save-song-button {
  font-family: 'Special Elite', cursive;
  background-color: rgba(229, 231, 176, 0.781);
  padding: 6px 20px;
  margin: 8px 0;
  border: 2px solid rgba(168, 170, 104, 0.5);
  border-radius: 4px;
  font-size: 14px;
}

/* ------------------------------------------ */
/* -------- Generated setlists page --------- */
/* ------------------------------------------ */


.generate-songs-text-header {
  font-size: 12px;
}

.x {
  width: 1.5vw;
  opacity: 0.5;
}

.rando-lists-page {
  text-decoration: bold;
  height: 100vh;
  background-color:rgba(153, 170, 170, 0.733);
  margin: 0;
    padding: 0;
  }

  
  .two-rando-sets {
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-gap: 6em;
    padding-left: 17vw;
  }


.set-one-title, .set-two-title {
  font-family: 'Special Elite', cursive;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.set-one {
  
 
}

.set-two {
  
  
}


